.how {
  display: flex;
  flex-direction: column;
  height: 460px;
  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin: 50px 20px 30px 20px;
  }
  &__blockinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__choose {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      background-color: $colour-whitegrey;
      box-shadow: 0 3px 8px -2px gray;
      width: 80%;
      height: 75px;
      border-radius: 20px;
      margin: 10px;
      position: relative;
      &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour-primary;
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: white;
        top: 24px;
        left: -15px;
      }
      &__blocklogo {
        width: 25%;
        &__logo {
          margin: 0px 35px;
          color: gray;
        }
      }
      &__text {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 14px;
      }
    }
    &__compose {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      background-color: $colour-whitegrey;
      box-shadow: 0 3px 8px -2px gray;
      width: 80%;
      height: 75px;
      border-radius: 20px;
      margin: 10px;
      position: relative;
      &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour-primary;
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: white;
        top: 24px;
        left: -15px;
      }
      &__blocklogo {
        width: 25%;
        &__logo {
          margin: 0px 35px;
          color: gray;
        }
      }
      &__text {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 14px;
      }
    }
    &__eat {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      background-color: $colour-whitegrey;
      box-shadow: 0 3px 8px -2px gray;
      width: 80%;
      height: 75px;
      border-radius: 20px;
      margin: 10px;
      position: relative;
      &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour-primary;
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: white;
        top: 24px;
        left: -15px;
      }
      &__blocklogo {
        width: 25%;
        &__logo {
          margin: 0px 35px;
          color: gray;
        }
      }
      &__text {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}
