.location {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $colour-grey;
  height: 45px;
  &__blockinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
  }
  &__text {
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
}
